*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;

}
.contact-section{
  background: url(bg.png) ;
  background-size: cover;
  background-color: #333;

}
.contact-section h1{
  text-align: center;
  color: #ddd;
  color: blue;
  padding: 30px 12px 0 0;
  font-family: monospace;
  font-style: italic;
  text-shadow: transparent;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 10px 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
  font-style: italic;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: blue;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}
.header{
  max-width: 100%;
  max-height: 12%;
  position: relative;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: black;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(0, 0, 0, .3)
}